<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Brew Page</title>
</head>

<body>
    <div class='inventory'>
        <h2>INVENTORY</h2>
        <div id="shopinv">
            <div class="subinv">
                <p><b>Credits</b>: <%= inv.credits %>
                </p>
                <p><b>Gloop</b>: <%= inv.gloop %>
                </p>
                <p><b>Spanu</b>: <%= inv.spanu %>
                </p>
            </div>
            <div class="subinv">
                <p><b>Veax</b>: <%= inv.veax %>
                </p>
                <p><b>Mozuc</b>: <%= inv.mozuc %>
                </p>
                <p><b>Zeyoc</b>: <%= inv.zeyoc %>
                </p>

            </div>
        </div>
    </div>

    <div class="username">
        <p><b>
                <%= inv.username %>
            </b>'s Cantina</p>
    </div>


    <div id="everythingdrinks">
        <div id="bar">
            <h2>BAR</h2>
            <div id="shelves">
                <div class="shelf" id="bittershelf">
                    <h3>Bitter Shelf</h3>
                    <p><b>Vemo</b>: <%= bar.vemo %></p>
                    <p><b>Cost/drink</b>: <%= bar.vemoprice %></p>
                    <p><b>Moze</b>: <%= bar.moze %></p>
                    <p><b>Cost/drink</b>: <%= bar.mozeprice %></p>
                    <p><b>Veze</b>: <%= bar.veze %></p>
                    <p><b>Cost/drink</b>: <%= bar.vezeprice %></p>
                </div>
                <div class="shelf" id="sweetshelf">
                    <h3>Sweet Shelf</h3>
                    <p><b>Vemo Spanu</b>: <%= bar.vemospanu %></p>
                    <p><b>Cost/drink</b>: <%= bar.vemospanuprice %></p>
                    <p><b>Moze Spanu</b>: <%= bar.mozespanu %></p>
                    <p><b>Cost/drink</b>: <%= bar.mozespanuprice %></p>
                    <p><b>Veze Spanu</b>: <%= bar.vezespanu %></p>
                    <p><b>Cost/drink</b>: <%= bar.vezespanuprice %></p>
                </div>
            </div>
        </div>

        <div id="brewery">
            <h2>BREWERY</h2>
            <div class="brewdrinks" id="unsweetdrinks">
                <div class="drink" id="vemo">
                    <form action="/brewvemo" method="post"><div>
                        <% { %>
                            Brew: <input type="submit" class="brew-button" id="brew-vemo" value="Vemo">
                        <% } %>
                    </div></form>
                </div>

                <div class="drink" id="moze">
                    <form action="/brewmoze" method="post"><div>
                        <% { %>
                            Brew: <input type="submit" class="brew-button" id="brew-moze" value="Moze">
                        <% } %>
                    </div></form>
                </div>

                <div class="drink" id="veze">
                    <form action="/brewveze" method="post"><div>
                        <% { %>
                            Brew: <input type="submit" class="brew-button" id="brew-veze" value="Veze">
                        <% } %>
                    </div></form>
                </div>
            </div>

            <div class="brewdrinks" id="sweetdrinks">
                <div class="drink" id="vemospanu">
                    <form action="/brewvemospanu" method="post"><div>
                        <% { %>
                            Brew: <input type="submit" class="brew-button" id="brew-vemo-spanu" value="Vemo Spanu">
                        <% } %>
                    </div></form>
                </div>

                <div class="drink" id="mozespanu">
                    <form action="/brewmozespanu" method="post"><div>
                        <% { %>
                            Brew: <input type="submit" class="brew-button" id="brew-moze-spanu" value="Moze Spanu">
                        <% } %>
                    </div></form>
                </div>

                <div class="drink" id="vezespanu">
                    <form action="/brewvezespanu" method="post"><div>
                        <% { %>
                            Brew: <input type="submit" class="brew-button" id="brew-veze-spanu" value="Veze Spanu">
                        <% } %>
                    </div></form>
                </div>
            </div>
        </div>

        <div id="office">
            <h2>OFFICE</h2>
            <form action="/setprice" method="post"><div class="forms">
                <% { %>
                Set Vemo Price: <input type="number" name="vemo" /><br>
                Set Moze Price: <input type="number" name="moze" /><br>
                Set Veze Price: <input type="number" name="veze" /><br>
                Set Vemo Spanu Price: <input type="number" name="vemospanu" /><br>
                Set Moze Spanu Price: <input type="number" name="mozespanu" /><br>
                Set Veze Spanu Price: <input type="number" name="vezespanu" /><br>
                <input type="submit" value="Set Prices">
                <% } %>
            </div></form>
        </div>
    </div>

    <div class="day">
        <p>Day <b>
                <%= inv.day %>
            </b> of <b>10</b></p>
    </div>

    <div class="popularity">
        <p>Popularity: <%= inv.popularity %>%</p>
    </div>


    <div>
        <a href="/simulate"><input type="submit" id="readytobrew" value="Open Bar!"></a>
    </div>

    <div class="logout">
        <form action="/logout" method="get"><input type="submit" value="Log Out"></form>
    </div>

    <div class="help">
        <input type="submit" value="Help">
    </div>

    <div class="reset">
        <form action="/reset" method="post"><input type="submit" value="Reset Game"></form>
    </div>
</body>

</html>