<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Brew Page</title>
</head>

<body>
    <div class='inventory'>
        <h2>INVENTORY</h2>

        <p>Credits: <%= inv.credits %>
        </p>
        <p>Gloop: <%= inv.gloop %>
        </p>
        <p>Veax: <%= inv.veax %>
        </p>
        <p>Mozuc: <%= inv.mozuc %>
        </p>
        <p>Zeyoc: <%= inv.zeyoc %>
        </p>
        <p>Spanu: <%= inv.spanu %>
        </p>
    </div>

    <div class="username">
        <p><b>
                <%= inv.username %>
            </b>'s Cantina</p>
    </div>

    <div class="day">
        <p>Day <b>
                <%= inv.day %>
            </b> of <b>10</b></p>
    </div>

    <div class="popularity">
        <p>Popularity: <%= inv.popularity %>%</p>
    </div>

    <div id="help-button">
        <input type="submit" value="Help">
    </div>
</body>

</html>