<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Shop</title>
</head>

<body>
    <div class='inventory'>
        <h2>INVENTORY</h2>
        <div id="shopinv">
            <div class="subinv">
                <p><b>Credits</b>: <%= inv.credits %>
                </p>
                <p><b>Gloop</b>: <%= inv.gloop %>
                </p>
                <p><b>Spanu</b>: <%= inv.spanu %>
                </p>
            </div>
            <div class="subinv">
                <p><b>Veax</b>: <%= inv.veax %>
                </p>
                <p><b>Mozuc</b>: <%= inv.mozuc %>
                </p>
                <p><b>Zeyoc</b>: <%= inv.zeyoc %>
                </p>

            </div>
        </div>
    </div>

    <div class="shop">
        <br><br><br>
        <h2>SHOP</h2>
        <div id="storefront">
            <div id="mixers">
                <div class="ingredient" id="veax-spice">
                    <form action="/buyveax" method="post"><div>
                        <% { %>
                            Buy V'eax spice: <input type="submit" class="buy-button" id="buy-veax" value="15 for $100">
                        <% } %>
                    </div></form>
                </div>

                <div class="ingredient" id="mozuc-concentrate">
                    <form action="/buymozuc" method="post"><div>
                        <% { %>
                            Buy Mozuc Concentrate: <input type="submit" class="buy-button" id="buy-mozuc" value="15 for $100">
                        <% } %>
                    </div></form>
                </div>

                <div class="ingredient" id="zeyoc-peel">
                    <form action="/buyzeyoc" method="post"><div>
                        <% { %>
                            Buy Ze'yoc Peel: <input type="submit" class="buy-button" id="buy-zeyoc" value="15 for $100">
                        <% } %>
                    </div></form>
                </div>
            </div>

            <div id="base-and-sweetener">
                <div class="ingredient" id="gloop">
                    <form action="/buygloop" method="post"><div>
                        <% { %>
                            Buy Gloop: <input type="submit" class="buy-button" id="buy-gloop" value="10 for $200">
                        <% } %>
                    </div></form>
                </div>

                <div class="ingredient" id="spanu-cream">
                    <form action="/buyspanu" method="post"><div>
                        <% { %>
                            Buy Spanu: <input type="submit" class="buy-button" id="buy-spanu" value="5 for $300">
                        <% } %>
                    </div></form>
                </div>
            </div>
        </div>
    </div>

    <div class="username">
        <p><b>
                <%= inv.username %>
            </b>'s Cantina</p>
    </div>

    <div class="day">
        <p>Day <b>
                <%= inv.day %>
            </b> of <b>10</b></p>
    </div>

    <div class="help">
        <a href="/tutorial"><input type="submit" value="Help"></a>
    </div>

    <div class="weather">
        <p>Weather: <%= inv.weather %></p>
    </div>

    <div class="popularity">
        <p>Popularity: <%= inv.popularity %>%</p>
    </div>

    <div>
        <a href="/brew"><input type="submit" id="readytobrew" value="Ready to Brew"></a>
    </div>
</body>

</html>