<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Shop</title>
</head>

<body>
    <div class='inventory'>
        <h2>INVENTORY</h2>
        <div id="shopinv">
            <div class="subinv">
                <p><b>Credits</b>: <%= inv.credits %>
                </p>
                <p><b>Gloop</b>: <%= inv.gloop %>
                </p>
                <p><b>Spanu</b>: <%= inv.spanu %>
                </p>
            </div>
            <div class="subinv">
                <p><b>Veax</b>: <%= inv.veax %>
                </p>
                <p><b>Mozuc</b>: <%= inv.mozuc %>
                </p>
                <p><b>Zeyoc</b>: <%= inv.zeyoc %>
                </p>

            </div>
        </div>
    </div>

    <div class="shop">
        <h2>SHOP</h2>
        <div id="storefront">
            <div id="mixers">
                <div class="ingredient" id="veax-spice">
                    <div class="buy-ingredient">Buy V'eax spice</div>
                    <button class="buy-button" id="buy-veax">$</button>
                </div>

                <div class="ingredient" id="mozuc-concentrate">
                    <div class="buy-ingredient">Buy Mozuc Concentrate</div>
                    <button class="buy-button" id="buy-mozuc">$</button>
                </div>

                <div class="ingredient" id="zeyok-peel">
                    <div class="buy-ingredient">Buy Ze'yok Peel</div>
                    <button class="buy-button" id="buy-zeyok">$</button>
                </div>
            </div>

            <div id="base-and-sweetener">
                <div class="ingredient" id="gloop">
                    <div class="buy-ingredient">Buy Gloop</div>
                    <button class="buy-button" id="buy-gloop">$$</button>
                </div>

                <div class="ingredient" id="spanu-cream">
                    <div class="buy-ingredient">Buy Spanu Cream</div>
                    <button class="buy-button" id="buy-spanu">$$$</button>
                </div>
            </div>
        </div>
    </div>

    <div class="username">
        <p><b>
                <%= inv.username %>
            </b>'s Cantina</p>
    </div>

    <div class="day">
        <p>Day <b>
                <%= inv.day %>
            </b> of <b>10</b></p>
    </div>
    <div id="help-button">
        <input type="submit" value="Help">
    </div>

    <div class="weather">
        <p>Weather: <%= inv.weather %></p>
    </div>
</body>

</html>