<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Shop</title>
</head>
<body>
    <div class='inventory'>
        <h2>INVENTORY</h2>
        <div id="shopinv">
            <div class="subinv">
                <p><b>Credits</b>: <%= inv.credits %></p>
                <p><b>Gloop</b>: <%= inv.gloop %></p>
                <p><b>Spanu</b>: <%= inv.spanu %></p>
            </div>
            <div class="subinv">
                <p><b>Veax</b>: <%= inv.veax %></p>
                <p><b>Mozuc</b>: <%= inv.mozuc %></p>
                <p><b>Zeyoc</b>: <%= inv.zeyoc %></p>
            </div>
        </div>
    </div>

    <div class="username">
        <p><b><%= inv.username %></b>'s Cantina</p>
    </div>

    <div class="day">
        <p>Day <b><%= inv.day %></b> of <b>10</b></p>
    </div>
</body>
</html>