<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Purchase Ingredients</title>
</head>
<body>
    <div class='inventory'>
        <h2>INVENTORY</h2>

        <p>Credits: <%= inv.credits %></p>
        <p>Gloop: <%= inv.gloop %></p>
        <p>Veax: <%= inv.veax %></p>
        <p>Mozuc: <%= inv.mozuc %></p>
        <p>Zeyoc: <%= inv.zeyoc %></p>
        <p>Spanu: <%= inv.spanu %></p>
    </div>
</body>
</html>